# **Writing User-Defined Functions**

### **Writing a More Flexible Function**

In [15]:
def hello_name(name):
    """prints out, Hello, (name of a person)"""
    x = "Hello, " + name
    print(x)

In [9]:
hello_name('Kate')

Hello, Kate

### **Writing functions with multiple parameters**

In [16]:
def greeting(greeting, name):
    """prints out a greeting + name"""
    x = greeting + name
    print(x)

In [11]:
greeting("Good Morning ", "George!")

Good Morning George!

In [14]:
greeting(name = "Jimmy", greeting = "Hey, ")

Hey, Jimmy

# **Conditonals: If Statements**

### **If**

In [17]:
def score_description(score):
    if score > 65:
        print('You passed the test, well done!')

In [18]:
score_description(80)

You passed the test, well done!

### **Else**

In [19]:
def score_description(score):
    if score > 65:
        print('You passed the test, well done!')
    else:
        print ('You failed the test, looks like your cooked mate')

In [20]:
score_description(80)

You passed the test, well done!

In [21]:
score_description(35)

You failed the test, looks like your cooked mate

### **Elif**

In [28]:
def letter_grade(score):
    if score <=100 and score >90:
        print('A')
    elif score <=90 and score >80:
        print('B')
    elif score <=80 and score >70:
        print('C')
    else:
        print('F')

In [23]:
letter_grade(95)

A

In [26]:
letter_grade(83)

B

In [29]:
letter_grade(71)

C

In [30]:
letter_grade(64)

F

### **Ordering and Indenting**

In [42]:
x = 12

In [43]:
if x==9:
    print(x+1)
elif x < 10:
    print(x+2)
else:
    print (x+3)

15

# **Conditionals: While Loops**

### **While Loop Syntax**

In [44]:
x = 2

In [45]:
while x < 1000:
    x = x*10
    print(x)

20
200
2000

### **Correctly Assigning the Variable**

In [46]:
y = 15

In [48]:
while y < 1000:
    y = y*10
    print(y)

150
1500

### **Using While in a Function**

In [64]:
def subtract_one(x):
    while x > 2:
        x = x - 1
        print(x)

In [67]:
subtract_one(7)

6
5
4
3
2

### **Using While With Else**

In [68]:
def subtract_one(x):
    while x > 2:
        x = x - 1
        print(x)
    else:
        print('X is no longer greater than 2')

In [69]:
subtract_one(5)

4
3
2
X is no longer greater than 2

# **Conditionals: For Loops**

In [82]:
test_scores = [40,65,91,92,93]

In [73]:
test_scores[0] = test_scores[0] + 7
test_scores[1] = test_scores[1] + 7
test_scores[2] = test_scores[2] + 7
test_scores[3] = test_scores[3] + 7
test_scores[4] = test_scores [4] + 7

In [74]:
print(test_scores)

[47, 72, 98, 99, 100]

In [76]:
# a for loop that adds 7 to each score
for score in test_scores:
    score = score + 7

In [77]:
for letter in "LOL":
    print(letter + '!')

L!
O!
L!

### **Range() Function**

In [79]:
my_list = [1,2,3,4,5]

In [80]:
for number in my_list:
    number = number*2
    print(number)

2
4
6
8
10

In [81]:
# using the range function to multiply all integers 1 to 100; last number in range is not included
for number in range(1,101):
    number = number*2
    print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

### **For Loops With a Conditional**

In [ ]:
test_scores = [40,65,91,92,93]

In [84]:
for score in test_scores:
    if score < 80:
        score = score + 7
    print(score)

47
72
91
92
93

### **For Loops In a Function**

In [85]:
def score_curve(test_scores):
    for score in test_scores:
        if score < 80:
            score = score + 7
        print(score)

In [87]:
score_curve([1,2,90])

8
9
90

# **Looping Through a Dictionary**

### **Items() Method**

In [88]:
test_scores_dict = {'George':40,
                    'Dexter':65,
                    'Michael':92,
                    'Kobe':93}

In [101]:
for name, score in test_scores_dict.items():
    score = score + 7
    print(name+":"  +str(score))

George:47
Dexter:72
Michael:99
Kobe:100